<section class="w-full">
    <div class="w-full bg-[#FFD736] min-h-[300px] rounded-tl-[300px]"><div class="max-w-[1200px] mx-auto pt-28 pb-52 px-10">{{ .text | markdownify }}</div></div>
    <div class="w-full bg-white"><div class="flex flex-col  bg-[#1d1d1d] min-h-[300px] rounded-br-[300px]">
        <div class="max-w-[1200px] w-full mx-auto px-10 pb-36 -mt-36">
            <div class="flex bg-gray-400 w-full h-[625px] justify-center items-center">video</div>
        </div>
    </div>
    </div>
</section>